.title {
    background-color: aquamarine;
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    text-align: center;
}

.food {
    background-color: orange;
    

}

.pizza-headings {
    color: red;
    text-align: center;
}